@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  line-height: 1.5;
  font-family: "Outfit", sans-serif;
  background: #d6e2f0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

a,
a:visited,
a:focus {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card {
  width: 20rem;
  min-height: 30.9375rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background: white;
  padding: 0.9375rem;
  border-radius: 1.125rem;
  text-align: center;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
.card_img {
  width: 18.125rem;
  aspect-ratio: 1/1;
  background: url(/images/image-qr-code.png) center center/cover;
  border-radius: 0.75rem;
}
.card_content {
  margin: 0.9375rem;
  line-height: 1.4;
}
.card_content .title {
  font-size: 1.375rem;
  margin-bottom: 0.625rem;
  color: #1f3251;
}
.card_content .description {
  font-size: 1rem;
  color: #7b879d;
}

/*# sourceMappingURL=style.css.map */
