@use './utils/index' as vars;

.card {
    width: vars.rem(320);
    min-height: vars.rem(495);
    height: auto;
    @include vars.flexer(center, space-between, column);
    background: vars.$white;
    padding: vars.rem(15);
    border-radius: vars.rem(18);
    text-align: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

    &_img {
        width: vars.rem(290);
        aspect-ratio: 1 / 1;
        background: url(/images/image-qr-code.png) center center/cover;
        border-radius: vars.rem(12);
        // margin-bottom: vars.rem(25);
    }

    &_content {
        margin: vars.rem(15);
        line-height: 1.4;

        .title {
            font-size: vars.rem(22);
            margin-bottom: vars.rem(10);
            color: vars.$dark-blue;
        }
        .description {
            font-size: vars.rem(16);
            color: vars.$grayish-blue;
        }
    }
}
